.products-layout {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 50px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 10px;
    margin: 20px;    
    .card-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        button {
            @include btn;
            padding: 10px;
            font-size: 1.5rem;
            }
        .card-body-layout {
            display: flex;
            flex-direction: column;
            h3 {
                color: rgb(197, 180, 144);
            }
            p {
                color: rgb(197, 180, 144);
                font-size: 1.5rem;
            }
        }
    }
}

.details {
    margin: 50px auto;
    width: 60%;
    height: auto;
    text-align: left;
}

.detail-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .detail-info {
        margin: 10px;
        h2 {
            font: 400 2.5rem $font;
            color: black;
        }
        h3 {
            font: 700 2rem $font;
            color: rgb(206, 157, 94);
        }
        p {
            font: 400 1.5rem $font;
            color: black;
        }
        button {
            background-color: black;
            color: white;
            border: none;
            padding: 5px 20px;
            font-size: 2rem;
            &:hover {
                background-color: rgb(206, 157, 94);
            }
        }
        .detail-btns {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 200px auto;
            .btn-detail {
                font: 400 1.7rem $font;
            }
        }    
    }
}