.title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    h2 {
        font: 700 2rem $font;
        color: rgb(206, 157, 94);
    }
    p {
        font: 500 1.5rem $font;
        color: black;
    }
}


.my-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    label {
        padding: 6px;
        text-align: start;
        font-size: 1.4rem;
    }
    input {
        width: 35em;
        border: 1px solid #fff;
        border-radius: 5px;
        font-size: 1.4rem;
    }
    button {
        @include btn;
        padding: 5px;
        width: 150px;
        margin-top: 20px;
        font-weight: 700;
        font-size: 1.6rem;
    }
}

a {
    text-decoration: none;
    color: transparent;
}