// Text
$font: 'Inter', sans-serif;

// Mixins
@mixin borders {
	border-radius: 15px;
}

@mixin btn {
	background-color: rgb(206, 157, 94);
	color: #fff;
	border: none;
	padding: 10px !important;
	font-size: 1rem;
	margin: 1px 10px;
}